<style>
	table, th, td {
		border: 2px solid;
		text-align: center;
	}
</style>
<table>
	<tr>
		<td><a href="https://gaurish-gaur.github.io/gaurishgaur-tri3/">Home</a></td>
		<td>
			<a href="https://replit.com/@Gaurish-Gaur/gaurishgaur-tri3">Replit Code</a>
		</td>
		<td>
			<a href="https://gaurish-gaur.github.io/gaurishgaur-tri3/notemain">Notes/Tasks</a>
		</td>
    <td>
			<a href="https://gaurish-gaur.github.io/gaurishgaur-tri3/createtask">Create Task</a>
		</td>
	</tr>
</table>



<table>
	<tr>
		<td><a href="https://gaurish-gaur.github.io/gaurishgaur-tri3/weekzero">Week Zero</a></td>
		<td>
			<a href="https://gaurish-gaur.github.io/gaurishgaur-tri3/notemain">Week One</a>
		</td>
		<td>
			<a href="https://gaurish-gaur.github.io/gaurishgaur-tri3/notemain">Week Two</a>
		</td>
	</tr>
</table>

<hr/>

